$miFuente : Helvetica, sans-seriff;
$miFuenteBoton: Arial, sans-seriff;

@mixin button-bg($bg) {
    background: $bg;
    &:hover {
      background:darken($bg,8%);
      transition: all 0.3s ease;
    }
    &:active {
      background:darken($bg,25%);
    } 
  }
body{
    font-family: $miFuente;
}


@media(max-widht:960px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution:192dpi){
    body{
        margin: 10px;
        background-color: lightblue;
    }
}

@media(max-widht:720px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution:192dpi){
    body{
        margin: 10px;
        color: white;
    }
}

@media(max-widht:576px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution:192dpi){
    body{
        margin: 10px;
        color: grey;
    }
}